<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!--    下面这三段代码，是关闭系统状态栏，并设置背景颜色    -->
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#F1F1F1" />
        <preference name="StatusBarDefaultScrollToTop" value="true" />
        <preference name="StatusBarStyle" value="default" />
        <!--    下面这两段代码，是防止上下滑动出现白色或黑色区域    -->
        <preference name="WebViewBounce" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <!-- you can use any density that exists in the Android project -->
        <splash src="res/screen/android/drawable-land-hdpi-screen.png" density="land-hdpi"/>
        <splash src="res/screen/android/drawable-land-ldpi-screen.png" density="land-ldpi"/>
        <splash src="res/screen/android/drawable-land-mdpi-screen.png" density="land-mdpi"/>
        <splash src="res/screen/android/drawable-land-xhdpi-screen.png" density="land-xhdpi"/>
        <splash src="res/screen/android/drawable-port-hdpi-screen.png" density="port-hdpi"/>
        <splash src="res/screen/android/drawable-port-ldpi-screen.png" density="port-ldpi"/>
        <splash src="res/screen/android/drawable-port-mdpi-screen.png" density="port-mdpi"/>
        <splash src="res/screen/android/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="5000" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!--    下面这三段代码，是关闭系统状态栏，并设置背景颜色    -->
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#F1F1F1" />
        <preference name="StatusBarDefaultScrollToTop" value="true" />
        <preference name="StatusBarStyle" value="default" />
        <!--    下面这两段代码，是防止上下滑动出现白色或黑色区域    -->
        <preference name="WebViewBounce" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <!-- Legacy method (supports all devices except iPad Pro 12.9): -->
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="5000" />
        <preference name="FadeSplashScreen" value="true"/>
        <preference name="FadeSplashScreenDuration" value="1000"/>
    </platform>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <plugin name="cordova-plugin-hide-home-indicator" spec="1.0.*" />
    <hook src="hooks/vue-build.js" type="before_compile" />
</widget>
